* {
    margin: 0;
    padding: 0;
    box-sizing:  border-box;
}

body {
    width: 100%;
    background-color: rgba(240, 23, 23, 0.8);
    padding: 4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.bloco1 {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact-navigation {
    width: 32rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
    border-radius: 8px;
    margin-bottom: 1rem;
}

 .wrapp {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.wrapp input {
    padding: 1rem;
} 

.button {
    width: 100%;
    padding: 1rem;
    background-color: rgba(240, 23, 23, 0.8);
    border: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 4px;
    transition: 0.3s;
}

.button:hover {
    cursor: pointer;
    background-color: rgba(218, 47, 47, 0.8);
}